*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: calc($d-fs / $w-design * 100) + vw;

  @media (max-width: ($re-lg*1px)) {
    font-size: calc($d-fs / $re-lg * 100) + vw;
  }

  @media (max-width: ($re-sm*1px)) {
    font-size: calc($d-fs / $re-sm * 100) + vw;
  }

  @media (min-width: ($w-design*1px)) {
    font-size: $d-fs + px;
  }
}

.container {
  --bs-gutter-container-x: #{toRem($grid-gutter-width)};
  --bs-gutter-container-m-x: #{toRem($mobile-grid-gutter-width)};
  max-width: toRem($w-container);
  padding-left: calc(0.5 * var(--bs-gutter-container-x));
  padding-right: calc(0.5 * var(--bs-gutter-container-x));
  margin-right: auto;
  margin-left: auto;

  @include bp-mobile {
    max-width: 100%;
    padding-left: calc(0.5 * var(--bs-gutter-container-m-x));
    padding-right: calc(0.5 * var(--bs-gutter-container-m-x));
  }
}

.container-fluid {
  width: 100%;
  padding-left: calc(0.5 * var(--bs-gutter-container-x));
  padding-right: calc(0.5 * var(--bs-gutter-container-x));
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: #{toRem($grid-gutter-width)};
  --bs-gutter-m-x: #{toRem($mobile-grid-gutter-width)};

  @include bp-mobile {
    margin-right: calc(-0.5 * var(--bs-gutter-m-x));
    margin-left: calc(-0.5 * var(--bs-gutter-m-x));
  }

  [class^="col-"],
  [class*=" col-"] {
    @include bp-mobile {
      padding-left: calc(0.5 * var(--bs-gutter-m-x));
      padding-right: calc(0.5 * var(--bs-gutter-m-x));
    }
  }
}

.row-sm {
  --bs-gutter-x: #{toRem($mobile-grid-gutter-width)};

  @include bp-mobile {
    margin-right: calc(-0.5 * var(--bs-gutter-m-x));
    margin-left: calc(-0.5 * var(--bs-gutter-m-x));
  }

  [class^="col-"],
  [class*=" col-"] {
    @include bp-mobile {
      padding-left: calc(0.5 * var(--bs-gutter-m-x));
      padding-right: calc(0.5 * var(--bs-gutter-m-x));
    }
  }
}

@include make-grid-columns();

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

body {
  color: $primary-color;
  font-family: $primary-ff;
  line-height: 1.5;
  font-weight: 400;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: toRem(10);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

label {
  display: block;
  text-align: left;
  margin-bottom: toRem(10);
}

input,
textarea,
select {
  border: 1px solid $black;
  @include padding_tb(10, 20);
  margin-bottom: toRem(20);
  background: transparent;
}

input[type="checkbox"] {
  width: auto;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: toRem(15);
  padding-left: toRem(15);
}

.col-2dot4 {
  flex: 0 0 20%;
  max-width: 20%;
}

@include media-breakpoint-up(sm) {
  .col-sm-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@include media-breakpoint-up(md) {
  .col-md-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@include media-breakpoint-up(lg) {
  .col-lg-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}

@include media-breakpoint-up(xl) {
  .col-xl-2dot4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}