$font-path: "../fonts";
$primary-ff: 'Montserrat';
$font-name-1: 'NimbusSanL';

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 100;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-Thin.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 100;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-ThinItalic.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 200;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-ExtraLight.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 200;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-ExtraLight.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-Light.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 300;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-LightItalic.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-Regular.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-Medium.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 500;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-MediumItalic.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-SemiBold.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 600;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-Bold.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 700;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-BoldItalic.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 800;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-ExtraBold.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 800;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: normal;
  font-weight: 900;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-Black.ttf");
}

@font-face {
  font-family: "#{$primary-ff}";
  font-style: italic;
  font-weight: 900;
  src: url("#{$font-path}/#{$primary-ff}/#{$primary-ff}-BlackItalic.ttf");
}

//$font-name-1: 'NimbusSanL';
@font-face {
  font-family: "#{$font-name-1}";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/#{$font-name-1}/#{$font-name-1}-Reg.ttf");
}

@font-face {
  font-family: "#{$font-name-1}";
  font-style: italic;
  font-weight: 400;
  src: url("#{$font-path}/#{$font-name-1}/#{$font-name-1}-RegIta.ttf");
}

@font-face {
  font-family: "#{$font-name-1}";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}/#{$font-name-1}/#{$font-name-1}-Bol.ttf");
}

@font-face {
  font-family: "#{$font-name-1}";
  font-style: italic;
  font-weight: 700;
  src: url("#{$font-path}/#{$font-name-1}/#{$font-name-1}-BolIta.ttf");
}