@mixin make-transform($property) {
  -moz-transform: $property;
  -webkit-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
$transition-base: all 0.3s ease-in-out;
@mixin font($fs, $lh: null, $fw: null) {
  font-size: toRem($fs);
  @if $lh == null {
  } @else if $lh == 0 {
  } @else {
    line-height: toRem($lh + 4);
  }
  font-weight: $fw;
}
@mixin margin($t, $r, $b, $l) {
  margin: toRem($t) toRem($r) toRem($b) toRem($l);
}

@mixin padding_all($val) {
  padding: toRem($val);
}
@mixin padding($t, $r, $b, $l) {
  padding: toRem($t) toRem($r) toRem($b) toRem($l);
}
@mixin padding_tb($t: null, $b: null) {
  padding-top: toRem($t);
  padding-bottom: toRem($b);
}
@mixin padding_lr($l: null, $r: null) {
  padding-left: toRem($l);
  padding-right: toRem($r);
}
@mixin bp-mobile {
  @include media-breakpoint-down(md) {
    @content;
  }
}
@mixin bp-tablet {
  @include media-breakpoint-down(lg) {
    @content;
  }
}
