.woocommerce-minicart-fragment {
    @include padding(30, 30, 30, 30);
    .name-product a {
      color: black;
      @include font(18, 24);
      text-transform: uppercase;
      margin-bottom: (5 / $d-fs)+rem;
      display: block;
    }
    .price {
      font-family: $primary-ff;
      color: #052452;
      @include font($d-fs, 18);
      font-weight: 700;
      margin-bottom: (5 / $d-fs)+rem;
      display: block;
    }
    .quantity {
      @include font(12, 15);
      background: #16a2b7;
      color: #fff;
      @include padding(2, 4, 2, 4);
      display: inline-block;
    }
    a.remove_from_cart_button {
      background: #e2334c;
      color: #fff;
      height: (18 / $d-fs)+rem;
      width: (18 / $d-fs)+rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .mini_cart_item {
        border-bottom: 1px solid #eeeeee;
        padding-bottom: (15 / $d-fs)+rem;
        margin-bottom: (15 / $d-fs)+rem;
      }
      .woocommerce-mini-cart__total {
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        font-family: $primary-ff;
        @include font($d-fs, 20);
        text-transform: uppercase;
      }
  }

  a.button.btn-minicart {
    background: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: (10 / $d-fs)+rem;
    color: $white;
    @include font($d-fs, 17);
    font-family: $primary-ff;
    font-weight: 400;
    @include padding(10, 0, 10, 0);
    text-decoration: none;
    &.checkout {
      background-color: $black;
    }
    img {
      width: 12px;
      margin-right: (10 / $d-fs)+rem;
      margin-left: (10 / $d-fs)+rem;
    }
  }